<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main class="cover d-flex justify-content-center align-items-center">
  <div class="container p-5 login-form">
    <form class="row mt-5">
      <!-- coluna -->
      <div class="col col-6">
        <div class="mb-3">
          <input  type="hidden" name="acao" id="acao" value="<%= acao %>">
          <label for="">Nome Completo*</label>
          <input class="form-control" type="text" name="nome" id="nome" autocomplete="off" value="<%= acao == 'U' ? cliente.nome : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">E-mail*</label>
          <input class="form-control" type="email" name="email" id="email" autocomplete="off" value="<%= acao == 'U' ? cliente.email : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">CPF*</label>
          <input class="form-control" type="text" name="cpf" id="cpf" autocomplete="off" value="<%= acao == 'U' ? cliente.cpf : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Telefone*</label>
          <input type="text" class="form-control" name="telefone" id="telefone"  autocomplete="off" value="<%= acao == 'U' ? cliente.telefone : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Data de nascimento*</label>
          <input class="form-control" type="text" name="dataNasc" id="dataNasc" autocomplete="off" value="<%= acao == 'U' ? cliente.dataNascCliente : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Convênio</label>
          <input type="text" class="form-control" name="convenio" id="convenio"  autocomplete="off" value="<%= acao == 'U' ? '' : '' %>"/>
        </div>
        <% if(acao == "C"){ %>
    
        <div class="mb-3">
          <label for="">Senha*</label>
          <input type="password" class="form-control" name="senha" id="senha"  autocomplete="off"/>
        </div>
        <div class="mb-3">
          <label for="">Confirmar senha*</label>
          <input type="password" class="form-control" name="confirmaSenha" id="confirmaSenha" autocomplete="off" />
        </div>
        <% } %>
      </div>

      <!-- coluna -->
      <div class="col col-6">
        
        <div class="mb-3">
          <label for="">CEP*</label>
          <input type="text" name="cep" id="cep" class="form-control" autocomplete="off" value="<%= acao == 'U' ? cliente.cep : '' %>" />
          <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" title="Clique aqui para procurar seu CEP" target="_blank">Não sei o CEP</a>
        </div>
        <div class="mb-3">
          <label for="">Cidade*</label>
          <input type="text" class="form-control" name="cidade" id="cidade" autocomplete="off" readonly value="<%= acao == 'U' ? cliente.cidade : '' %>"/>
        </div>
        <div class="mb-3">
          <div class="containerUf"></div>
            <label for="">UF*</label>
            <input type="text" name="uf" id="uf" class="form-control" autocomplete="off" readonly value="<%= acao == 'U' ? cliente.uf : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Bairro*</label>
          <input type="text" class="form-control" name="bairro" id="bairro" autocomplete="off" readonly value="<%= acao == 'U' ? cliente.bairro : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Endereço*</label>
          <input type="text"  class="form-control" name="logradouro" id="logradouro" autocomplete="off" readonly value="<%= acao == 'U' ? cliente.logradouro : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Número residencial*</label>
          <input type="text" class="form-control" name="numResidencial" id="numResidencial" autocomplete="off" value="<%= acao == 'U' ? cliente.numero : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Complemento</label>
          <input type="text" class="form-control" name="complemento" id="complemento"  autocomplete="off" value="<%= acao == 'U' ? cliente.complemento : '' %>"/>
        </div>
        
      </div>
      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" name="receberNotificacao" id="receberNotificacao" />
        <label class="form-check-label">Quero receber notificações por e-mail</label>
      </div>
      <div class="mt-2">
        <button class="btn default-btn fs-6" id="btnCadastro">Salvar</button>
      </div>
    </form>
    
    
  </div>
  <script src="/assets/js/admin/cadastroCliente.js"></script>
<%-include('../includes/end.ejs')-%>