<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
  <main class="pt-5 cover d-flex align-items-center justify-content-center">
    <div class="">
      <form action="">
        <input type="hidden" name="acao" id="acao" value="<%= acao %>">
        <input type="hidden" name="idServico" id="idServico" value="<%= acao =='U' ? servico.id :'' %>"/>
        <div class="mb-3">
          <label for="">URL da imagem</label>
          <input type="url" class="form-control" name="url" id="url"  autocomplete="off" value="<%= acao =='U' ? servico.url : '' %>"/>
        </div>
        <div class="mb-3">
          <label for="">Título</label>
          <input type="text" class="form-control" name="titulo" id="titulo"  autocomplete="off" value="<%= acao =='U' ? servico.titulo : '' %>"/> 
        </div>
        <div class="mb-3 row align-items-center">
          <div class="col-5">
            <label for="">Preço</label>
            <input type="text" class="form-control" name="preco" id="preco" autocomplete="off" value="<%= acao =='U' ? servico.valor : '' %>" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 44 " />
          </div>
          <div class="col-7 mt-2">
            <label for="">Tempo de exame</label>
            <input type="text" class="form-control" name="duracao" id="duracao" value="<%= acao =='U' ? servico.duracao : '' %>" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 44 "/>
          </div>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="agendamento" id="agendamento" value="1" autocomplete="off" />
            <label class="form-check-label" for="">Necessita de agendamento</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="">Descrição</label>
          <textarea class="form-control" name="descricao" id="descricao" cols="30" autocomplete="off" rows="5" value="<%= acao =='U' ? servico.descricao : '' %>"/><%= acao =='U' ? servico.descricao : '' %></textarea>
        </div>
        <button class="btn default-btn fs-6"  name="btnCadastro" id="btnCadastro">Cadastrar serviço</button>
      </form>
    </div>
  </main>
  <script src="/assets/js/admin/cadastroServico.js"></script>
<%-include('../includes/end.ejs')%>

