<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
  <main class="pt-5 cover d-flex align-items-center">
    <div class="container p-5">
      <h2 class="text-muted">Agendamento de serviço</h2>
      <form class="row justify-content-center">
        <!-- coluna -->
        <div class="col col-4">
          <div class="mt-3">
            <label for="dia">Selecione o serviço desejado:</label>
            <select class="form-select" id='servicos' autocomplete="off">
              <option value="">Selecione.</option>
              <%servico.forEach(servico => {%>
                <option value="<%=servico.id %>"><%= servico.titulo%></option>
              <%});%>
            </select>
          </div>
          <div class="mt-3">
            <label for="dia">Informe a data desejada: </label>
            <input class="form-control" type="text" name="data" id="data" />
          </div>
          <div class="mt-3">
            <label for="horario">Informe o horário em que deseja realizar o exame</label>
            <input class="form-control" type="text" name="hora" id="hora" />
          </div>
          <div class="mt-3">
            <label for="cpf">Confirme seu CPF:</label>
            <input class="form-control" type="text" name="cpf" id="cpf" />
          </div>
        </div>
        <!-- coluna -->
        <div class="col col-4">         
          <div class="mt-3">
            <button class="btn agendar-btn fs-6" id="btn">Agendar serviço</button>
          </div>
        </div> 
      </form>
    </div>
  </main>
  <script src="/assets/js/shop/agendarServico.js"></script>
<%-include('../includes/end.ejs')%>