<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
    <main class="pt-5 cover d-flex align-items-center">
      <div class="container p-5">
        <h2 class="text-muted"><%=servico.titulo%></h2>
        <div class="row">
          <div class="col-sm">
            <img class="img-fluid" src="<%=servico.url%>" alt="" />
            <p class="mt-3 font-weight-bold">
              <%=servico.descricao%>
            </p>
          </div>
          <div class="col-sm">
            <div class="d-flex flex-row">
              <div class="valor-servico ms-5">
                <h3 class="fw-bold"><i class="fas fa-comment-dollar"></i> Valor</h3>
                <h5 class="text-muted">R$ <%=servico.valor%></h5>
              </div>
              <div class="tempo-servico ms-5">
                <h3 class="fw-bold"><i class="fas fa-clock"></i> Tempo de de exame</h3>
                <h5 class="text-muted"><%=servico.duracao%></h5>
              </div>
            </div>
              <% if (isLoggedIn && !isAdmin) { %>
                <a href="/servico/agendamento" class="btn agendar-btn ms-5 mt-3 fs-6 text-decoration-none">Agendar serviço</a>
              <% } else { %>
                <a class="text-muted ms-5 mt-5 fs-5" href="/login">Faça login para agendar</a>
              <% } %>
          </div>
        </div>
      </div>
    </main>
    <%-include('../includes/end.ejs')%>

