<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main class="pt-5">
  <!-- PROMOÇÕES -->
  <% if (produtosPromocao.length >= 1) { %>
  <section class="promocoes">
    <div class="container">
      <div class="row py-5 justify-content-center">
          <% for (const produto of produtosPromocao) { %>
            <div class="card card-promo border-danger border-2 col-lg-4 text-center mb-3 me-md-3">
              <div class="h-75">
                <img class="card-img-top img-fluid" src="<%=produto.img%>" />
              </div>
              <div class="card-text mt-3">
                <p class="card-title"><%=produto.titulo%></p>
                <p class="card-text text-muted"><del>R$<%=produto.precoAnterior%></del></p>
                <p class="card-text text-danger"><strong>R$<%=produto.precoAtual%></strong></p>
              </div>
              <div class="mt-3 d-flex flex-column justify-content-center">
                <a class="btn product-btn me-2" href="#">Detalhes</a>
                <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
              </div>
            </div>
          <% } %> 
        </div>
      </div>
  </section>
  <% } %>

  <!-- MAIS VENDIDOS -->
  <section class="mais-vendidos">
    <div class="container">
      <div class="row py-5 justify-content-center">
        <p class="h5 text-muted mb-3 px-5">Mais vendidos</p>
          <% if (produtos.length >= 1) { %>
            <% for (const produto of produtos) { %>
              <div class="card produto col-lg-4 text-center mb-3 me-md-3">
                <div class="h-75">
                  <img class="card-img-top img-fluid" src="<%=produto.img%>" />
                </div>
                <div class="card-text mt-3">
                  <p class="card-title"><%=produto.titulo%></p>
                  <p class="card-text text-muted">R$<%=produto.preco%></p>
                </div>
                <div class="mt-3 d-flex flex-column justify-content-center">
                  <a class="btn product-btn me-2" href="#">Detalhes</a>
                  <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
                </div>
              </div>
            <% } %>
          <% } else { %>
            <%-include('../erro/404.ejs')%>
          <% } %>
      </div>
    </div>
  </section>

  <!-- NOSSOS SERVIÇOS -->
  <% if (servicos.length >= 1) { %>
  <section class="servicos" id="servicos">
    <div class="container">
      <div class="row py-5 justify-content-center">
        <p class="h5 text-muted mb-3 px-5">Nossos serviços</p>
        <% for (const servico of servicos) { %>
          <div class="card card-servico mb-3 me-3">
            <img src="<%=servico.img%>" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title"><%=servico.titulo%></h5>
              <a href="#" class="btn agendar-btn">Agende agora</a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </section>
<% } %>
<%-include('../includes/end.ejs')%>