<%-include('../includes/head.ejs')%>
<%-include('../includes/nav.ejs')%>
<main class="pt-5">
  <!-- PROMOÇÕES -->
  <section class="hero">
    <div class="overlay pt-5 d-flex justify-content-center flex-column">
      <div class="container">
        <h1 class="text-white display-1">DROFLIX</h1>
        <p class="text-white lead">Oferecendo o melhor para a sua saúde</p>
        <a href="/cliente" class="btn btn-success fs-5 text-decoration-none">Comece agora</a>
      </div>
    </div>
  </section>

  <section class="diferenciais mt-5 p-5">
    <div class="container">
     <div class="row">
      <div class="col-3 card-features border-end border-2">
        <i class="fas fa-truck"></i>
        <p>Entregas rápidas</p>
      </div>
      <div class="col-3 card-features border-end border-2">
        <i class="fas fa-check-double"></i>
        <p>Produtos de qualidade</p>
      </div>
      <div class="col-3 card-features border-end border-2">
        <i class="fas fa-user-shield"></i>
        <p>Segurança na compra</p>
      </div>
      <div class="col-3 card-features">
        <i class="fas fa-hand-holding-heart"></i>
        <p>Profissionais qualificados</p>
      </div>
     </div>
    </div>
  </section>


  <!-- MAIS VENDIDOS -->
  <section class="produtos">
    <div class="container">
      <div class="row py-5 justify-content-center">
          <% if (produtos.length >= 1) { %>
            <% for (const produto of produtos) { %>
              <div class="card produto col-lg-4 text-center mb-3 me-md-3">
                <div class="h-75">
                  <img class="card-img-top img-fluid" src="<%=produto.img%>" />
                </div>
                <div class="card-text mt-3">
                  <p class="card-title"><%=produto.titulo%></p>
                  <p class="card-text text-muted">R$<%=produto.preco%></p>
                </div>
                <div class="mt-3 d-flex flex-column justify-content-center">
                  <a class="btn product-btn me-2" href="/produto/<%=produto.id%>">Detalhes</a>
                  <% if (!isAdmin) { %>
                    <a class="btn product-btn me-2 mt-2" href="#">Adicionar ao carrinho</a>
                  <% } %>
                </div>
              </div>
            <% } %>
            <div class="d-flex justify-content-center">
              <a href="" class="btn default-btn fs-5">Ver todos os produtos</a>
            </div>
          <% } else { %>
            <%-include('../erro/404.ejs')%>
          <% } %>
      </div>
    </div>
  </section>

  <!-- NOSSOS SERVIÇOS -->
  <% if (servicos.length >= 1) { %>
  <section class="servicos" id="servicos">
    <div class="container">
      <div class="row py-5 justify-content-center">
        <p class="h5 text-muted mb-3 px-5">Nossos serviços</p>
        <% for (const servico of servicos) { %>
          <div class="card card-servico mb-3 me-3">
            <img src="<%=servico.img%>" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title"><%=servico.titulo%></h5>
              <a href="/servico/<%=servico.id%>" class="btn agendar-btn">Saiba mais</a>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </section>
<% } %>
<%-include('../includes/end.ejs')%>